@if (pokemonType === 'bug') {
<bug-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'electric') {
<electric-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'fire') {
<fire-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'grass') {
<grass-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'ground') {
<ground-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'ice') {
<ice-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'normal') {
<normal-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'rock') {
<rock-svg [fill]="fill" [height]="height" [width]="width" />
}
@else if (pokemonType === 'water') {
<water-svg [fill]="fill" [height]="height" [width]="width" />
}