.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.introduction {
  width: 80%;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: blue;
  }
}

.form-container {
  display: flex;
  gap: 16px;
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 16px;
  ;

  >div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  label {
    font-weight: 500;
  }

  input {
    padding: 5px 10px;
    border-radius: 8px;

    border: 1px solid transparent;
    outline: 0;

    &:focus {
      border: 1px solid blue;
    }
  }

  button {
    padding: 5px 10px;
    border-radius: 8px;

    background: blue;
    color: #fff;
    font-weight: 500;
    border: 1px solid transparent;
    outline: 0;
    transition: background-color 0.5s;

    &:focus {
      border: 1px solid blue;
    }

    &:hover {
      background: darkblue;
    }
  }
}

.city-input {
  width: 200px;
}

.country-input {
  width: 50px;
  text-transform: uppercase;
}

.cards-wrapper {
  display: flex;
  gap: 24px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 6px solid #878787;
  border-radius: 8px;

  width: 320px;
  height: 450px;
  padding: 16px;

  background: linear-gradient(180deg, #f1f1f1 0%, #c1c1c1 100%);

  >div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
  }

  h3 {
    font-size: 2rem;
    text-transform: capitalize;
  }

  p {
    font-weight: 600;
    font-size: 3rem;
    color: blue;
  }

  span {
    font-size: 0.75rem;
    font-weight: 700;
  }
}