<div class="container">
  <section class="introduction">
    <h1>E se pokémons realmente existissem?</h1>

    <h2>Seria bem legal né?</h2>

    <h3>E que tal simularmos qual pokémon você encontraria perto de sua casa?</h3>

    <p>Preencha o formulário abaixo, jogue sua pokebola, e com base no clima atual da localização, lhe diremos qual
      pokémon você capturou!</p>
  </section>

  <form class="form-container" #f="ngForm" (ngSubmit)="onSubmitForm(f)">
    <div>
      <label for="city">Cidade</label>

      <input class="city-input" type="text" id="city" placeholder="Divinópolis" ngModel name="city" required />
    </div>

    <div>
      <label for="country">País</label>

      <input class="country-input" type="text" id="country" placeholder="BR" ngModel name="country" />
    </div>

    <button class="button" type="submit">Buscar</button>
  </form>

  <div class="results" *ngIf="!!weatherInfo || !!pokemonInfo">
    <div class="cards-wrapper">
      <weather-card [weatherInfo]="weatherInfo" />

      <pokemon-card [pokemonInfo]="pokemonInfo" [pokemonTypeInfo]="pokemonTypeInfo" />
    </div>

    <div class="buttons-wrapper">
      <button class="button" (click)="cleanForm()">Limpar</button>

      <button class="button" (click)="searchNewPokemon()">Buscar outro pokémon</button>
    </div>
  </div>